 * {
   padding: 0;
   margin: 0;
 }

 :root {
   /* ========global colors=========== */
   --dark-mode: #0E1D21;
   --light-mode: white;
   --hover-color: #677EBA;
   --secondary-color: #122E34;
   --primary-color: goldenrod;
   --btn-color: #622347;
   /* ========end colors=========== */
   /* ========global settings=========== */
   --text-shadows: 1px 1px 2px black;
   --box-shadows: 3px 3px 4px black;
   --header-text-shadow: 3px 3px 4px black;
   --img-filters: drop-shadow(3px 3px 4px black);
   /* ========global settings end=========== */
 }

 html {
   scroll-behavior: smooth;
 }

 a {
   text-decoration: none;
 }

 li {
   list-style: none;
 }

 /*==========theme mode========================*/
 body {
   background-color: var(--light-mode);
   color: black;
   transition: all 0.3s ease;
   font-family: "Abril Fatface", serif;
   font-weight: 400;
   font-style: normal;
 }

 
 /*==========page effect========================*/
.page_effect{
animation: effect2 1s ease-in-out forwards;
}
@keyframes effect2{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/*==========page effect end========================*/


/*==========active effect =======================*/
.active{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    transition: 2s;
    background-color: var(--light-mode);  
}
.active2{
   border-radius: 10px;
   padding: 10px;  
    background-color: var(--light-mode);  

  }

/*==========active effect end========================*/

 main {
   display: flex;
 }

 /* ==============first section ========== */
 #first_section svg {
   padding: 5px;
   width: 30px;
   height: 30px;
   fill: var(--primary-color);
   filter: var(--img-filters);
   &:hover{
   fill: var(--hover-color);
   transition: 2s;
   }
 }

 #first_section p {
   font-size: small;
   padding: 5px;
   color: var(--primary-color);
   text-shadow: var(--text-shadows);
      &:hover{
   fill: var(--hover-color);
   transition: 2s;
   }
 }

 #first_section a {
   display: flex;
   gap: 5px;
   padding: 5px;
 }

 #first_section li {
   margin-left: 20px;
   margin-top: 52px;
 }
#men_close{
  display: none;
}

 #first_section {
   height: 900px;
   background-color: var(--secondary-color);
 }
 .banner img {
   width: 90px;
   margin: 20px;
   height: 90px;
   background-color: var(--light-mode);
   border: 2px solid var(--primary-color);
   border-radius: 50%;
   filter: var(--img-filters);
 }
/* ==============first section end ========== */

 /* ==============second section  ========== */
 #second_section {
   height: 900px;
 }
.hambuger_menu{
  display: none;
}
 /* ==============logo ========== */
 .logo img {
   width: 90px;
   height: 90px;
   filter: var(--img-filters);
  animation:rotation1 10s linear infinite ;
 }
@keyframes rotation1{
  100%{transform: rotateY(360deg);}
}

 /* ==============logo end  ========== */

 /* ==============navigation  ========== */
 header {
   display: flex;
   margin-left: 20px;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 10px;
   height: 30px;
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   background-color: var(--secondary-color);
   box-shadow: var(--box-shadows);
 }
#ham_close{
  display: none;
}
 #navs {
   display: flex;
   gap: 30px;
   margin-left: 850px;
   animation: none;
 }

 #navs a {
   color: var(--primary-color);
   font-weight: bold;
   font-size: medium;
   text-shadow: var(--text-shadows);
   &:hover {
     color: var(--hover-color);
     transition: 2s;
   }
 }

 .background_img {
   position: fixed;
   top: -50px;
   z-index: -30;
   left: 350px;
 }

 .background_img img {
   width: 150%;
   opacity: 0.4;
   filter: var(--img-filters);
 }

 /* ==============navigation end========== */

 /* ==============live score Section========== */

 .home_contents {
   height: 770px;
   overflow-y: scroll;
 }

 .home_contents {
   text-align: center;
   margin: 10px;
 }

 /* ==============live score Section end========== */

 /* ==============leauge Section ========== */

 #leauges_section {
   display: none;
 }

 .leauge_contents {
  margin-top: 20px;
   text-align: center;
     height: 800px;
   overflow-y: scroll;

 }
 .leauge_contents iframe {
  margin: 20px;
   height: 690px;
   border-radius: 10px;
   width: 97%;
   border: none;
 }
 /* ==============leauge Section end========== */
 
 /* ==============live Section ========== */
#live_section {
   display: none;
 }

 .live_contents {
  margin-top: 30px;
   text-align: center;
     height: 800px;
   overflow-y: scroll;
  }

 .live_contents iframe {
   margin: 20px;
   height: 690px;
   border-radius: 10px;
   width: 97%;
   border: none;
   
 }
 /* ==============live Section end========== */

/* ============team section================= */

 #team_section {
   display: none;
 }

 #team_section h1 {
   text-align: center;
   margin-bottom: 50px;
   color: var(--secondary-color);
   font-size: 2.3rem;
   text-shadow: var(--text-shadows);
   margin-top: 50px;

 }

 .search_tools{
  text-align: center;
 }
 
 #searchInput {
   width: 300px;
   margin-bottom: 60px;
   padding: 10px;
   border: none;
   box-shadow: var(--box-shadows);
   border-radius: 5px;
   font-size: 1em;
 }

 #search-btn {
   padding: 10px;
   font-size: 1em;
   cursor: pointer;
   border-radius: 10px;
   background-color: var(--btn-color);
   box-shadow: var(--box-shadows);
   border: none;
   &:hover {
     background-color: var(--hover-color);
     transition: 2s;
   }
 }

  #search-btn svg {
   width: 20px;
   height: 20px;
   fill: var(--primary-color);
   filter: var(--img-filters);
   &:hover{
   fill: var(--secondary-color);
   transition: 2s;
   }
 } 
       .team-profile {
           margin: 20px auto;
           width: 400px;
            background-color: var(--secondary-color);
             padding: 20px;
              border-radius: 10px;
               display: none;
               }
        .team-profile img { 
          width: 100px; 
        }
        .venue-img { 
          width: 100%;
           height: auto; 
           margin-top: 10px;
            border-radius: 10px;
           }
        .info { 
          margin: 10px 0; 
        }

 /* ============team section end================= */

 /* ============news section================= */

 #news_section {
   display: none;
 }

 .news_content {
   text-align: center;
   height: 660px;
   margin: 30px;
   overflow-y: scroll;
 }

 /* ============news section end================= */

 /* ============about section================= */
 #about_section {
   display: none;
 }

 #about_section h1 {
   text-align: center;
   margin-bottom: 20px;
   color: var(--btn-color);
   font-size: 2.3rem;
   text-shadow: var(--text-shadows);
   margin-top: 40px;
 }

 #about_section p {
   text-align: center;
   font-weight: bold;
   font-size: 1.2rem;
 }

 /* ============about section end================= */


 /* ============contact section================= */
 #contact_section {
   display: none;
 }
 #cont_title {
text-align: center;
   margin-bottom: 5px;
   color: var(--secondary-color);
   font-size: 2.3rem;
   text-shadow: var(--text-shadows);
   margin-top: 50px;
 }
 .form_inputs{
  margin: 20px;
 }
.form_inputs input{
margin: 10px;
padding: 10px;
border: none;
  border-bottom: 1px solid var(--secondary-color);
}
.contact_contents{
display: flex;
margin-left: 600px;
margin-top: 10px;
justify-content: center;
align-items: center;
}
.contact_form{
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
background-color: var(--light-mode);
border: 2px solid var(--secondary-color);
}
#contact_section ::placeholder{
color: var(--secondary-color);
}
#contact_section textarea{
  margin: 5px;
  margin-left: 10px;
  width: 450px;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  height: 100px;
}
.contact_form h1{
color: var(--secondary-color);
text-shadow: var(--text-shadows);
font-size: 2rem;
margin-top: 10px;
}

#contact_section form{
text-align: center; 
padding: 10px;
}
#contact_section button{
color: var(--light-mode);
text-shadow: var(--text-shadows);
border-radius: 10px;
font-size: 20px;
border: none;
box-shadow: var(--box-shadows);
background-color: var(--btn-color);
width: 400px;
padding: 6px;
text-align: center;
&:hover{
   background-color: var(--hover-color);
   transition: 2s;
   color: var(--primary-color);
   }
}
li{
list-style: none;
}
#sending {
   width: 20px;
   height: 20px;
   padding: 5px;
     fill: var(--light-mode);
   filter: var(--img-filters);
   &:hover{
   fill: var(--primary-color);
   transition: 2s;
   }
}
#contact_section{
width: 500px;
height: 70px;
}
.contact_socials li{ 
  display: flex;
  gap: 10px;
color: var(--light-mode);
margin-top: 20px;
font-size: medium;
}
.contact_socials h1{
color: var(--light-mode);
text-shadow: var(--text-shadows);
font-size: 2rem;
margin-top: 10px;
}
.contact_socials{
   border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
background-color: var(--secondary-color);
width: 900px;
padding: 10px;
height: 422px;
}
.social_conts{
margin-left: 40px;
margin-right: 80px;
}
.contact_socials svg{
  width: 30px;
   height: 30px;
   padding: 5px;
     fill: var(--light-mode);
   filter: var(--img-filters);

}
.socials{
  display: flex;
  margin-top: 30px;
  gap: 30px;
}
.socials svg{
  width: 30px;
padding: 5px;
height: 30px;
fill: var(--light-mode);
filter: var(--img-filters);
&:hover{
   fill: var(--hover-color);
   transition: 2s;
   }

}

 /* ============contact section end================= */

 /* ============terms section================= */
 #terms_section {
   display: none;
 }

 #terms_section h1 {
   text-align: center;
   margin-bottom: 20px;
   color: var(--btn-color);
   font-size: 3rem;
   text-shadow: var(--text-shadows);
   margin-top: 40px;
 }

 #terms_section p {
   text-align: center;
   font-weight: bold;
   font-size: 1.2rem;

 }

 /* ============terms section end================= */

 /* ==============second section end ========== *

 /*===========mobile Responsive================ */
 @media (max-width: 768px) {
   
/*==========active effect =======================*/
.active{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-radius: 10px;
}
/*==========active effect end========================*/
  main {
   display: flex;
 }
 /* ==============first section ========== */
 #first_section svg {
   padding: 5px;
   width: 20px;
   height: 20px;
 }
#first_section p {
   font-size: small;
   padding: 2px;
    }
  #first_section a {
    display: block;
    text-align: center; 
    gap: 0px;
   padding: 5px;
 }
 #first_section nav{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 #first_section li {
   margin-left: 0px;
   margin: 10px;
   margin-top: 20px;
 }
 .banner{
  display: none;
 }
 .home_menu{
  display: block;
  position: fixed;
  left: 40px;
  bottom: 70px;
}
.home_menu button{
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 5px;
}
.home_menu svg{
  width: 40px;
  height: 40px;
}
 #first_section {
   height: 100px;
   width: 100%;
   display: block;
   padding: 5px;
   bottom: 0px;
   z-index: 10;
   border-radius: 0px;
   position: fixed;
   }
 
 /* ==============first section end ========== */

/* ==============second section  ========== */
 #second_section {
   height: 900px;
 }

 /* ==============logo ========== */
 .logo img {
   width: 90px;
   height: 90px;
   filter: var(--img-filters);
animation:rotation1 10s linear infinite ;
 }
@keyframes rotation1{
  100%{transform: rotateY(360deg);}
}

 /* ==============logo end  ========== */

 /* ==============navigation  ========== */
 header {
  top: 0px;
  position: fixed;
   margin-left: 0px;
   gap: 175px;
   padding: 10px;
   z-index: 10;
   left: 5px;
  border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
  }

.hambuger_menu{
  display: block;
  padding: 10px;
}
 .hambuger_menu svg {
   width: 40px;
   height: 40px;
 }
  .hambuger_menu button{
    background-color: transparent;
    border: none;
  }
#ham_close{
  display: block;
  padding: 10px;
}

#navs li:nth-child(1){
  margin-top: 100px;
  
}

#navs li{
  margin: 40px;
  
}
#nav1 svg {
   width: 40px;
   height: 40px;
 }

 
#nav1{
  display: none;
}
 #navs {
  position: fixed;
  top: 49px;
  height: 300px;
  width: 80%;
  right: -60px;
   background-color: var(--secondary-color);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   display: block;
   gap:0px;
   z-index: 9;
   margin-left: 0px;
   animation: slide1 60ms linear;
 }
@keyframes slide1{
  100%{transform: translateX(-10px);}
}

 #navs a {
   color: var(--primary-color);
   font-weight: bold;
   padding: 2px;
   font-size: large;
   text-shadow: var(--text-shadows);
   &:hover {
     color: var(--hover-color);
     transition: 2s;
   }
 }

 .background_img {
   top: 200px;
   z-index: -30;
   left: 10px;
 }

 .background_img img {
   width: 95%;
    }

 /* ==============navigation end========== */


/* ==============leauge Section ========== */

 .home_contents {
      height: 700px;
      overflow-x: scroll; 
      margin: 0px;
      width: 550px;
 }

 
 /* ==============leauge Section end========== */


 /* ==============leauge Section ========== */

 .leauge_contents {
      height: 809px; 
      margin: 0px;
      overflow-x: scroll;
 }

 #leauges_section h1 {
    margin-top: 60px;
 }


 .leauge_contents iframe {
   margin: 20px;
   margin-top: 70px;
   width: 550px;
   height: 490px;
  }


 /* ==============leauge Section end========== */


 /* ============team section================= */

 #team_section h1 {
   text-align: center;
   margin-bottom: 50px;
   color: var(--secondary-color);
   font-size: 2.3rem;
   text-shadow: var(--text-shadows);
   margin-top: 50px;
 }
#searchInput {
   width: 220px;
   margin: 10px;
   }

 .search-container {
   text-align: center;
   margin-bottom: 20px;
 }

 #team-search {
   width: 250px;
 }
.team-profile {
           width: 300px;
           margin: 10px;
               }
  /* ============team section end================= */

 /* ==============live Section ========== */

 .live_contents {
      height: 809px; 
      margin: 0px;
      
 }

 #live_section h1 {
    margin-top: 60px;
 }

 .live_contents iframe {
   margin: 20px;
   margin-top: 70px;
   width: 550px;
   height: 490px;
  }


 /* ==============live Section end========== */


/* ============news section================= */

 #news_section h1 {
     margin-top: 100px;
 }

 .news_content {
   text-align: center;
   height: 809px;
   margin: 10px;
   overflow-y: scroll;
 }

 /* ============news section end================= */


 /* ============about section================= */

 #about_section h1 {
   margin-top: 100px;
 }
 /* ============about section end================= */


 /* ============contact section================= */
 #cont_title {
   margin-top: 100px;
 }
 .form_inputs{
  margin: 2px;
 }
.contact_contents{
display: block;
margin: 1px;
margin-left: 1px;
margin-top: 1px;

}
.contact_form{
  margin: 10px; 
  border-bottom-left-radius: none;
  border-top-left-radius: none;
  border-radius: 1rem;
}
#contact_section textarea{
  margin: 5px;
  margin-left: 10px;
  width: 250px;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  height: 100px;
}

#contact_section form{
text-align: center; 
padding: 30px;
}
#contact_section button{
width: 200px;
}
#contact_section{
width: 360px;
height: 70px;
margin-bottom: 100px;
}
.contact_socials{
   border-bottom-right-radius: 0rem;
  border-top-right-radius: 0rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  width: 310px;
  margin: 10px;
  height: 400px;
  margin-bottom: 100px;
}
.social_conts{
margin-left: 40px;
margin-right: 80px;
}

 /* ============contact section end================= */


 /* ============terms section================= */
 #terms_section h1 {
   font-size: 2.1rem;
   margin-top: 100px;
   margin-bottom: 0px;
 }

 #terms_section p {
   text-align: left;
   margin-top: 0px;
   margin: 20px;
   font-size: 1.2rem;
 margin-bottom: 70px;
 }
 
 /* ============terms section end================= */
}
 /*===========mobile Responsive end================ */
